/target
/bin
.vscode/
.DS_Store

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.d

benchmarks_master_2/
benchmark_tests/

*.yxil
*.log

__pycache__/
*.pyc

run_benchmarks.sh
parse_reports.py
report.json
results.csv
results*.md
output.v